.movies__cell {
  background: #222222;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
}

.movies__block {
  display: flex;
  justify-content: space-between;
  margin: 14px 12px 14px 10px;
}

.movies__link {
  color: white;
  text-decoration: none;
}

.movies__link:first-child {
  margin-bottom: 9px;
}

.movies__link:last-child {
  user-select: none;
}

.movies__heading {
  font-size: .9375rem;
  line-height: 18px;
  font-weight: 500;
  margin: 0;
  max-width: 220px;
  transition: .3s ease;
}

.movies__heading:hover {
  opacity: .6;
}

.movies__duration {
  color: #8B8B8B;
  font-size: .6875rem;
  line-height: 13px;
  user-select: none;
  margin: 0 0 14px 12px;
}

.movies__button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  cursor: pointer;
  transition: .1s ease;
  user-select: none;
  outline: none;
}

.movies__button_not-saved {
  background: url("./../../images/not-saved.svg") no-repeat;
}

.movies__button_saved {
  background: url("./../../images/saved.svg") no-repeat;
}

.movies__button:hover {
  opacity: .6;
}

.movies__image {
  width: 100%;
  height: 168px;
  cursor: pointer;
  transition: .3s ease;
  object-fit: cover;
}

.movies__image:hover {
  opacity: .6;
}

.movies__title {
  margin: 0 10px 250px;
  color: rgba(255, 255, 255, .7);
  text-align: center;
  padding-top: 150px ;
  user-select: none;
}

@media (min-width: 768px) {
  .movies__heading {
      max-width: 300px;
  }

  .movies__image {
      height: 185px;
  }

  .movies__title {
      margin: 0 40px 350px;
  }
}

@media (min-width: 1280px) {
  .movies__image {
      height: 200px;
  }

  .movies__title {
      margin: 0 80px 350px;
      font-size: 1.875rem;
  }
}