.header {
  display: flex;
  justify-content: space-between;
  padding: 1.125rem 4.375rem;
  background-color: #073042;
  align-items: center;
}

.header__sign {
  align-items: center;
  display: flex;
  gap: 1.875rem;
}

.header__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: .75rem;
}

.header__link_type_signin {
  color:  #000000;
  background: #2BE080;
  border-radius: .1875rem;
  padding: 0.5rem 1.25rem;
}