.header {
  display: flex;
  justify-content: space-between;
  padding: 1.125rem 0.875rem;
  background-color: #073042;
  align-items: center;
}

.header__sign {
  align-items: center;
  display: flex;
  gap: 0.875rem;
}

.header__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 1rem;
}

.header__link_type_signin {
  color:  #000000;
  background: #2BE080;
  border-radius: .1875rem;
  padding: 0.3125rem 0.75rem;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1.125rem 1.875rem;
  }
  
  .header__sign {
    gap: 1.875rem;
  }
  
  .header__link {
    font-size: .75rem;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 1.125rem 4.375rem;
  }
  
  .header__sign {
    gap: 1.875rem;
  }
  
  .header__link {
    font-size: .75rem;
  }
  
  .header__link_type_signin {
    padding: 0.5rem 1.25rem;
  }
}

