.aboutproject {
  display: flex;
  padding: 70px 14px;
  flex-direction: column;
  color: white;
  background-color: #202020;
}

.aboutproject__title {
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding-bottom: 28px;
  border-bottom: solid 1px #DADADA;
  margin: 0;
}

.aboutproject_about {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px 0  70px 0;
}

.aboutproject__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}

.aboutproject__profession {
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  margin: 20px 0;
}

.aboutproject__text {
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  margin: 0 0 40px 0;
}

.aboutproject__git {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.aboutproject__image {
  background: url("../../images/avatar.png") no-repeat center;;
  background-size: cover;
  border-radius: 10px;
  order: -1;
  width: 292px;
  height: 352px;
}

.aboutproject__portfolio {
  color: #8B8B8B;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 40px 0;
}

.aboutproject__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutproject__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.aboutproject__container-link {
  padding-bottom: 19px;
  border-bottom: solid 1px #424242;
}

.aboutproject__arrow {
  width: 18px;
}

@media screen and (min-width: 768px) {
  .aboutproject {
    padding: 90px 50px;
  }
  
  .aboutproject__title {
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    padding-bottom: 23px;
  }
  
  .aboutproject_about {
    flex-direction: row;
    gap: 49px;
    padding: 66px 0  90px 0;
  }
  
  .aboutproject__heading {
    font-size: 40px;
    line-height: 40px;
  }
  
  .aboutproject__profession {
    font-size: 12px;
    line-height: 18px;
    margin: 16px 0 20px 0;
  }
  
  .aboutproject__text {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 87px 0;
    width: 364px;
  }
  
  .aboutproject__git {
    font-size: 14px;
    line-height: 17px;
  }
  
  .aboutproject__image {
    order: 1;
    width: 255px;
    height: 307px;
  }
  
  .aboutproject__portfolio {
    font-size: 18px;
    margin: 0 0 50px 0;
  }
  
  .aboutproject__link {
    font-size: 28px;
    line-height: 50px;
  }
  
  .aboutproject__arrow {
    color: white;
    width: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .aboutproject {
    display: flex;
    padding: 6.875rem 4.375rem 7.8125rem 4.375rem;
    flex-direction: column;
    color: white;
    background-color: #202020;
  }
  
  .aboutproject__title {
    color: white;
    font-size: 1.375rem;
    font-weight: 400;
    padding-bottom: 1.4375rem;
    border-bottom: solid 0.125rem #DADADA;
    margin: 0;
  }
  
  .aboutproject_about {
    display: flex;
    flex-direction: row;
    gap: 16.875rem;
    padding: 4.125rem 0  6.3125rem 0;
  }
  
  .aboutproject__heading {
    font-size: 3.125rem;
    line-height: 3.625rem;
    font-weight: 400;
    margin: 0;
  }
  
  .aboutproject__profession {
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 500;
    margin: 1.125rem 0 1.625rem 0;
  }
  
  .aboutproject__text {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 400;
    min-width: 37.5rem;
    margin: 0 0 6.1875rem 0;
  }
  
  .aboutproject__git {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.05875rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
  
  }
  
  .aboutproject__image {
    background: url("../../images/avatar.png") no-repeat center;
    background-size: cover;
    border-radius: 0.625rem;
    order: 1;
    min-width: 16.875rem;
  }
  
  .aboutproject__portfolio {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 0.89rem;
    line-height: 1.25rem;
    margin: 0 0 3.125rem 0;
  }
  
  .aboutproject__container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    
  }
  
  .aboutproject__link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1.875rem;
    line-height: 3.125rem;
    font-weight: 400;
  
  }
  
  .aboutproject__container-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.1875rem;
    border-bottom: solid 0.0625rem #424242;
  }
  
  .aboutproject__arrow {
    color: white;
    width: 1.8125rem;
  }
}