.techs {
  display: flex;
  flex-direction: column;
  padding: 6.25rem 4.375rem;
  color: white;
  background-color: #202020;
  font-weight: 400;
}

.techs__title {
  color: white;
  font-size: 1.375rem;
  font-weight: 400;
  border-bottom: solid 0.125rem #DADADA;
  margin: 0;
  padding-bottom: 1.4375rem;
}

.techs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__heading {
  font-size: 3.125rem;
  font-weight: 400;
  margin: 5.625rem 0 1.625rem 0;
  line-height: 3.625rem;
}

.techs__text {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin: 0 0 6.25rem 0;
}

.techs__technology {
  display: grid;
  grid-template-columns: repeat(7, 90px);
  gap: 0.625rem;
}

.techs__cell {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.05875rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-radius: 0.625rem;
  background: #303030;
  text-align: center;
  padding: 1.3125rem 0 1.375rem 0;
}

