.navtab {
  display: flex;
  flex-direction: column;
  padding: 110px 70px;
  color: white;
  background-color: #202020;
  font-weight: 400;
}

.navtab__title {
  color: white;
  font-size: 1.375rem;
  padding-bottom: 23px;
  border-bottom: solid 2px #DADADA;
  margin: 0;
}

.navtab__infromation {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 70px 0 110px 0;
}

.navtab__description {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.navtab__heading {
  margin: 0;
  font-size: 1.25rem;
}

.navtab__text {
  margin: 0;
  font-size: .875rem;
}

.navtab__time {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navtab__time {
  
}


.navtab__systemname {
  color: #8B8B8B;
}