.navtab {
  display: flex;
  flex-direction: column;
  padding: 6.875rem 4.375rem;
  color: white;
  background-color: #202020;
  font-weight: 400;
}

.navtab__title {
  color: white;
  font-size: 1.375rem;
  font-weight: 400;
  padding-bottom: 1.4375rem;
  border-bottom: solid 0.125rem #DADADA;
  margin: 0;
}

.navtab__infromation {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding: 4.375rem 0 6.875rem 0;
}

.navtab__description {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
}

.navtab__heading {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.navtab__text {
  margin: 0;
  font-size: .875rem;
  font-weight: 400;
}

.navtab__time {
  display: grid;
  flex-direction: row;
  grid-template-columns: 14.25rem auto;
  justify-items: center;
}

.navtab__week {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.navtab__backend {
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  background-color: #3DDC84;
  margin: 0;
  padding: 0.5625rem 0;
}

.navtab__frontend {
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  background-color: #303030;
  margin: 0;
  padding: 0.5625rem 0;
}


.navtab__systemname {
  font-weight: 500;
  font-size: .875rem;
  color: #8B8B8B;
  margin: 0;
  text-align: center;
}